<!DOCTYPE html>
<html>
  <head>
    <title>Seaside</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300/400/700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAlZu6woIaZLwixJKWu6Rv-oazFKD9x0" %>
    <script>
      window.staticImages = {
        plusImage: "<%= asset_url("plus-button.svg")%>",
        minusImage: "<%= asset_url("minus-button.svg")%>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
